/* Lucas Ley Berben UO295228 */
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color : white;
    background-color: #B30000;
    text-align: justify;
}
body > p a:first-of-type { 
    color: white; 
    background-color: #B30000;
}

header{
    background-color: white;
    color : black;
    text-align: center;
    text-decoration: none; 
   
    
 
}
h1 a{
    color : black;
    font-size:calc(100vw / 20);; 
    text-decoration: none; 
    
    
    font-weight: bold; 
   

}
a{
    text-decoration: none;
    color : black; 

}
ul{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    list-style-type: square;
   
    

}
ul li{
    margin-bottom: 10px; 
   
    

}
ol{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: square;
   
    

}
ol li{
    margin-bottom: 10px; 
    

}



nav{

    color : #000000;

}
